<?php
session_start();
require 'db_connect.php';


$message = "" ; 


if ($_SERVER['REQUEST_METHOD'] === 'POST'){
    $fullName = $_POST['name'];
    $email = $_POST['email'];
    $messageText =$_POST['message']

   //Validate inputs
  if(empty($fullName) || empty($email) || empty($messageText)){
     $error = "جميع الحقول مطلوبة";}
  else { // Insert the message into the database
        $sql = "INSERT INTO ContactMessage (fullName , Email , message) VALUES (?,?,?)";
        $stmt = $conn->prepare($sql);
        $stmt->bind_param("sss",$fullNam, $email, $messageText);

        if ($stmt-execute()){
            $message ="تم ارسال رسالتك سيتم التواصل معك قريباً."}
        else { 
          $error = "حدث خطأ اثناء ارسال الرسالة. يرجى  المحاولة مرة اخرى ." ; }
        }
       
  }
    
?>

<!DOCTYPE html>
  <html lang="ar">
<head>
<meta charset="UTF-8">
<meta name="viewport" conent="width=device-width, initial-scale=1.0">
<title>تواصل معن </title>
<link rel="stylesheet" herf="styles.css">
</head>
<body>
    <div class="contact-container">
        <center><img width="300" height="100" src="contact_us.ping" alt="شعار الصفحة"></center>
      <h1>تواصل معنا</h1>
      <p>اذا كان لديك اي استفسارات او تحتاج الى مساعدة , فلا تتردد في التواصل معنا<\p>
